/* Estilos específicos para work */
/* Timeline de Educación */
.timeline-body.education:after {
  background-color: #4285f4; /* Azul para educación */
}
.timeline-body.education .timeline-item:after {
  border: 4px solid #4285f4;
}

/* Timeline de Trabajo */
.timeline-body.work:after {
  background-color: #cf3838; /* Amarillo para trabajo */
}
.timeline-body.work .timeline-item:after {
  border: 4px solid #cf3838;
}

.timeline-body.work .text-primary {
    color: #cf3838 !important;
}
.timeline-body.work .border-primary {
    border-color: #cf3838 !important;
}

/* Tipos de Educación */
.type-bachelor {
  color: #046d20; /* Verde para Bachelor */
}

.type-master {
  color: #083f99; /* Azul para Master */
}

/* Tipos de Trabajo */
.type-full-time {
  color: #8c1b12; /* Rojo para Full-time */
}

.type-intern {
  color: #810455; /* Amarillo para Intern */
}

.type-freelance {
  color: #55019f; /* Morado para Freelance */
}